html, body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    overflow-x:hidden;
}

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    display: flex;
    flex-direction: column;
}


.naff {
    font-weight: 300;
}

.navbar-brand {
    padding-left: 40px!important;
    padding-right: 30px;
}

.navbar-inverse .navbar-nav>li>a {
    text-transform: uppercase;
}

h4 {
    font-weight: 500;
}

p {
    font-family: 'Roboto', sans-serif;
}

.content {
    flex: 1 0 auto;
    margin-top: 50px;
}

.footer {
    flex-shrink: 0;
}
a {
    color: #008ED9;
}
a:hover {
    text-decoration: none;
    color: #2A4F9E;
}

.nvb-logo {
    padding: 0px;
}

.nvb-logo img {
    float: left;
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:active:focus, .navbar-brand:focus {
    font-size: 20px;
    color: #9d9d9d!important;
    height: 100%;
    padding-left: 25px;
    float: left;
}

.navbar-inverse .navbar-nav {
    height: 100%
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    overflow: hidden;
}

.caption h4 {
    height: 80px;
}
.caption p {
    width: 100%;
    height: 80px;
    clear: both;
}

.ratings {
    padding: 20px 10px 10px 10px;
    color: #294d9a;
}

.thumbnail {
    padding: 0;
    border-radius: 0px !important;
    border: 0px solid;
    outline: 1px solid #dddddd;
}

.thumbnail:hover:not(.thumbnail-active) {
    outline: solid 2px #008ED9;
}

.thumbnail-active {
    outline: solid 2px #008ED9;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.thumbnail img {
    width: 100%;
}

.btn-primary{
    background-color: #008ED9;
    border-color: #2A4FB7;
}
.btn-primary:hover, .btn-primary:active:focus, .btn-primary:visited {
    background-color: #2A4FB7;
}

.modal-content {
    margin: 0 auto;
    width: 300px;
}

.modal-title {
    float: left
}

.btn-primary .btn-reg {
    float: right;
}

 .logout {
    float: right;
}


hr {
    border: none; /* Убираем границу для браузера Firefox */
    color: #294d9a; /* Цвет линии для остальных браузеров */
    background-color: #294d9a; /* Цвет линии для браузера Firefox и Opera */
    height: 4px;
}

.non-margin {
    margin: 0px;
}

footer {
    margin: 50px 0;
}

.footer {
    background-color: #e2e2e2;
}

.list-group-item:hover{background-color:#008ED9; color: white; }